@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Shipper</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">




</head>
<body>
    <div class="card">
        <div class="card-header border-transparent">
            <h3 class="card-title">Orders</h3>


        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table m-0">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Order details</th>
                            <th>City</th>
                            <th>Status</th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="pages/examples/invoice.html">OR9842</a></td>

                            <td>
                                <div class="container">

                                    <!-- Trigger the modal with a button -->
                                    <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#myModal">Open Modal</button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header" style="display:inline;">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4>Order Details</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Order name:</p>
                                                    <p>Amount:</p>
                                                    <p>Seller name:</p>
                                                    <p>Seller Phonenumber:</p>
                                                    <p>Pickup address:</p>
                                                    <p>Customer name:</p>
                                                    <p>Customer phonenumber:</p>
                                                    <p>Delivery address:</p>


                                                </div>
                                                <div class="modal-footer">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-info">Pending</button>
                                                        <button type="button" class="btn btn-info dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                            <div class="dropdown-menu" role="menu">
                                                                <a class="dropdown-item" href="#">Pending</a>
                                                                <a class="dropdown-item" href="#">Shipped</a>
                                                                <a class="dropdown-item" href="#">Delivered</a>
                                                                <div class="dropdown-divider"></div>
                                                            </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                            </td>
                            <td>Cairo</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-info">Pending</button>
                                    <button type="button" class="btn btn-info dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                        <span class="sr-only">Toggle Dropdown</span>
                                        <div class="dropdown-menu" role="menu">
                                            <a class="dropdown-item" href="#">Pending</a>
                                            <a class="dropdown-item" href="#">Shipped</a>
                                            <a class="dropdown-item" href="#">Delivered</a>
                                            <div class="dropdown-divider"></div>

                            </td>

                        </tr>


                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
            <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">View All Orders</a>
        </div>
        <!-- /.card-footer -->
    </div>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>

    <!-- OPTIONAL SCRIPTS -->
    <script src="~/dist/js/demo.js"></script>

    <!-- PAGE PLUGINS -->
    <!-- jQuery Mapael -->
    <script src="~/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="~/plugins/raphael/raphael.min.js"></script>
    <script src="~/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="~/plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>

    <!-- PAGE SCRIPTS -->
    <script src="~/dist/js/pages/dashboard2.js"></script>
</body>
</html>