@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> userManager
@{
    var user = await userManager.GetUserAsync(User);
    var userId = user?.Id;
    var userName = user?.UserName;
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add New Product</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Fonts
        ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,900,700,700italic,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/skin-lblue.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/setting.css">
    <link rel="stylesheet" href="~/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <script src="~/js/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body>
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- start header -->
    <header>

        <!-- Header One Starts -->
        <div class="header-1">

            <!-- Container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <!-- Logo section -->
                        <div class="logo">
                            <h1><a href="index.html">Egyptian Hands</a></h1>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Navigation starts -->

            <div class="navi">
                <div class="container">
                    <div class="navy">
                        <ul>
                            <li><a asp-controller="Seller" asp-action="Profile"><span>Profile</span></a></li>
                            <li><a asp-controller="Seller" asp-action="Index"><span>Products</span></a></li>
                            <li><a asp-controller="Seller" asp-action="InvList"><span>Inventories</span></a></li>
                            <li><a asp-controller="Seller" asp-action=""><span>Sign Out</span></a></li>

                        </ul>
                    </div>
                </div>
            </div>

            <!-- Navigation ends -->

        </div>

        <!-- Header one ends -->

    </header>
    <
    <!-- start main content -->
    <main class="main-container">
        <!--Checkout Area Start-->
        <section class="checkout-area area-padding ptb-40">
            <!-- Begin checkout -->
            <div class="ld-subpage-content">

                <div class="checkout-content">

                    <!-- Begin checkout section -->
                    <section class="checkout">



                        <section class="checkout-section">

                            <div class="ld-checkout-inner">

                                <div class="xs-margin"></div>

                                <div class="accordion" id="collapse">


                                    <div class="accordion-group panel darkerbg">

                                        <div class="container">
                                            <h2 class="accordion-title">

                                                <span>
                                                    Add New Product
                                                </span> </a>
                                            </h2>

                                            <div class="accordion-body collapse in" id="collapse-two">

                                                <div class="row accordion-body-wrapper">

                                                    <form action="#">

                                                        <div class="col-sm-12 padding-right-md">


                                                            <div class="xs-margin half">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="ProductName" class="form-label">
                                                                    Product Name:

                                                                    <span class="required">
                                                                        *
                                                                    </span>
                                                                </label>
                                                                <input type="text" name="ProductName" id="ProductName" class="form-control input-lg" required>
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="ProductPrice" class="form-label">
                                                                    Product Price:

                                                                    <span class="required">
                                                                        *
                                                                    </span>
                                                                </label>
                                                                <input type="text" name="ProductPrice" id="ProductPrice" class="form-control input-lg" required>
                                                            </div>



                                                            <div class="form-group">
                                                                <label for="MoreInformation" class="form-label">
                                                                    More Information:

                                                                    <span class="required">
                                                                        *
                                                                    </span>
                                                                </label>
                                                                <input type="text" name="MoreInformation" id="MoreInformation" class="form-control input-lg" required>
                                                            </div>



                                                            <div class="mb10">
                                                                <label class="control-label">Product Category</label>
                                                                <select class="form-control chosen-select" data-placeholder="Choose a Country...">
                                                                    <option value="Select Category">Product Category</option>

                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label">Upload Image</label>

                                                                <input type="file" id="img" name="img" accept="image/*">

                                                                </select>
                                                            </div>
                                                            <button type="button" class="btn btn-info btn-lg">Submit</button>
                                                            <div class="top-10px">
                                                            </div>


                                                        </div>

                                                        <div class="md-margin visible-xs clearfix">
                                                        </div>


                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </section>


                    </section>
                    <!-- End checkout section -->


                </div>
                <!-- /.checkout-content -->
            </div>
            <!-- /.ld-subpage-content -->
            <!-- End checkout -->
        </section>
        <!--End of Checkout Area-->


    </main>
    <!-- end main content -->
    <!-- All Script -->
    <script src="~/js/vendor/jquery-1.10.2.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/smoothscroll.js"></script>
    <!-- Scroll up js
    ============================================ -->
    <script src="~/js/jquery.scrollUp.js"></script>
    <script src="~/js/menu.js"></script>


    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.collapse.js"></script>
    <script src="~/js/main.js"></script>
</body>


</html>